/* ----- VARIAVEIS ------ */

:root{
    /* ----- CORES ----- */
    --color-white: #fff;
    --color-black: #000;
    --color-very-light-orange: #FFF9F3;
    --color-light-orange: #F6E4D0;
    --color-dark-orange: #EC8922;
    --color-green: #6DC35D;
    --color-dark-green: #3F7333;

    /* ----- FONTES ----- */
    --font-family: "Oswald", sans-serif;
    --font-size-title: 2rem;
    --font-size-paragraph: 1.25rem;
    --font-size-button: 1.25rem;
    --font-weight-light: 300;
    --font-weight-medium: 500;
    --font-weight-bold: 900;
}
